@import url(../css/bootstrap.min.css);
@import url(../css/satoshi.css);
.button-primary {
  grid-row-gap: 0.25rem;
  background-color: var(--color--button);
  color: var(--color--backgroung);
  font-size: var(--text-size--medium);
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
.button-primary:hover {
  background-color: var(--color--primary);
}

:root {
  --color--backgroung: #efefef;
  --font--satoshi: Satoshi, sans-serif;
  --color--font: #151515;
  --text-size--regular: 1rem;
  --heading--h1: 5rem;
  --heading--h2: 3.5rem;
  --heading--h3: 1.5rem;
  --heading--h4: 1.375rem;
  --heading--h5: 1.25rem;
  --heading--h6: 1.125rem;
  --text-size--medium: 1.125rem;
  --text-size--display: 13.125rem;
  --color--button: #151515;
  --color--primary: #faa61a;
  --text-size--small: 0.875rem;
  --color--card: white;
  --text-size--large: 1.5rem;
  --text-size--huge: 3.5rem;
  --font--satoshi-variable: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --border--radius: 0.2rem;
  --card-animation: slide-down 1s ease-in-out backwards;
}

* {
  box-sizing: border-box !important;
}

body {
  font-family: "Satoshi-Variable", var(--font--satoshi-variable);
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--color--backgroung);
  color: var(--color--font);
  width: 100%;
  height: 100%;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(21, 21, 21, 0.1019607843);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color--font);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color--font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Satoshi-Variable", var(--font--satoshi-variable);
  font-weight: 500;
}

p {
  padding: 0;
  margin: 0;
  font-family: "Satoshi-Variable", var(--font--satoshi-variable);
  font-weight: 400;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
}

.common-section {
  padding: 60px 0px;
}

@media screen and (max-width: 600px) {
  .common-section {
    padding: 40px 0px;
  }
}
.footer-section {
  padding: 150px 0 50px;
}
.footer-section .social-links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  padding-bottom: 60px;
}
.footer-section .social-links-wrapper .footer-logo {
  width: 160px;
  height: auto;
}
.footer-section .social-links-wrapper .social-links ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  flex-direction: row;
}
.footer-section .social-links-wrapper .social-links ul li {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section .social-links-wrapper .social-links ul li a {
  line-height: 0;
}
.footer-section .social-links-wrapper .social-links ul li:hover {
  cursor: pointer;
  transform: translate(0, -5px);
  background-color: var(--color--primary);
}
.footer-section .footer-links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
.footer-section .footer-links-wrapper .footer-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-section .footer-links-wrapper .footer-links .vertical-line {
  background-color: #8e8c87;
  width: 1px;
  height: 0.8rem;
}
.footer-section .footer-links-wrapper .footer-links a {
  font-weight: 500;
  font-size: 16px;
  font-family: "Satoshi-Variable", var(--font--satoshi-variable);
  color: var(--color--font);
  text-decoration: none;
  transition: all 0.25s;
}
.footer-section .footer-links-wrapper .footer-links a:hover {
  color: var(--color--primary);
  transform: translate(0, -2px);
}
.footer-section .footer-links-wrapper .credits-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.footer-section .footer-links-wrapper .credits-wrapper .credits-content {
  font-weight: 400;
  font-size: 16px;
  font-family: "Satoshi-Variable", var(--font--satoshi-variable);
  color: rgba(21, 21, 21, 0.6);
}
.footer-section .footer-links-wrapper .credits-wrapper .credits-content.credits-text {
  color: var(--color--font);
}
.footer-section .footer-links-wrapper .credits-wrapper .credits-content .credits-text-link {
  color: var(--color--font);
  text-decoration: none;
}
.footer-section .footer-links-wrapper .credits-wrapper .credits-content .credits-text-link:hover {
  color: var(--color--primary);
}

@media screen and (max-width: 600px) {
  .footer-section .footer-links-wrapper .credits-wrapper {
    flex-direction: column;
    gap: 8px;
  }
}/*# sourceMappingURL=style.css.map */